/* src/Navigation/Cart.css */
.container{
  display: flex;
 margin-top: 1rem;
  align-items: start;
}

.cart-container {
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cart-container h2 {
  margin-bottom: 20px;
  font-size: 1.8em;
  color: #333;
  text-align: center;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
}

.cart-item:hover {
  background-color: #f1f1f1;
}

.cart-item-img {
  width: 80px;
  height: auto;
  margin-right: 15px;
  border-radius: 5px;
}

.cart-item-details {
 
  flex-grow: 1;
  margin-right: 1rem;
}

.cart-item-details h3 {
  margin: 0;
  font-size: 1.4em;
  color: #333;
}

.cart-item-details p {
  margin: 5px 0 0;
  color: #555;
  font-size: 1.2em;
}

.cart-empty {
  text-align: center;
  font-size: 1.2em;
  color: #777;
}

.total-price{
  text-align: center;
  padding: 2rem;
  border-radius: 50%;
  border: 2px solid black;
  margin-right: 2rem;
  position: sticky;
  top:100px
}